    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="http://nanoplayboard.org">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{{ site.baseurl }}/articles/">Articles</a>
                        </li>
                        <!--
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{{ site.baseurl }}/api/">API</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{{ site.baseurl }}/examples/">Examples</a>
                        </li>
                        -->
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; NanoPlayBoard 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ site.baseurl }}/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
