---
layout: examples
title:  "Examples"
---

<!-- Potentiometer -->
<h2>Potentiometer</h2>

{% for post in site.categories.potentiometer reversed %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h3 class="post-title">
            {{ post.title-list }}
        </h3>
    </a>
    {% if post.subtitle %}
    <h4 class="post-subtitle">
        {{ post.subtitle }}
    </h4>
    {% endif %}
</div>
<hr>
{% endfor %}

<!-- LDR -->
<h2 style="padding-top: 50px">LDR</h2>

{% for post in site.categories.ldr reversed %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h3 class="post-title">
            {{ post.title-list }}
        </h3>
    </a>
    {% if post.subtitle %}
    <h4 class="post-subtitle">
        {{ post.subtitle }}
    </h4>
    {% endif %}
</div>
<hr>
{% endfor %}
